<footer>
  <div class="footer-content">
    <div style="text-align: center; display: inline-block; vertical-align: bottom; margin-right: 10px; margin-bottom: 10px;">
      <a href="https://www.mmll.cam.ac.uk/" target="_blank">
        <img src="assets/images/logo_mmll.png" alt="MMLL logo" style="height: 75px; width: auto;">
      </a>
    </div>

    <div style="text-align: center; display: inline-block; vertical-align: bottom; margin-right: 10px; margin-bottom: 10px;">
      <a href="https://www.ames.cam.ac.uk/" target="_blank">
        <img src="assets/images/logo_ames.png" alt="AMES Logo" style="height: 75px; width: auto;;">
      </a>
    </div>
        <div style="text-align: center; display: inline-block; vertical-align: bottom; margin-right: 10px; margin-bottom: 10px;">
      <a href="https://www.languagesciences.cam.ac.uk" target="_blank">
        <img src="assets/images/logo_cls.png" alt="Cambridge Language Sciences Logo" style="height: 75px; width: auto;">
      </a>
    </div>
  </div>
</footer>
